

body {
  background-color: #f3f6fa;
  width: 100vw;
}

/* -------------- header ----------------- */

.header {
  height: 480px;
  width: 100%;
}

.background-image {
  width: 100%;
  height: 100%;
  background-image: url('/images/free-resources-mac-1.jpg');
  background-size: cover;
}

.title {
  font-size: 55px;
  color: #fff;
  font-family:'Oswald', sans-serif;
  line-height: 1;
  letter-spacing: -3px;
  font-weight: bold;
  text-align: center;
  padding-top: 160px;
}

.job {
  display: block;
  font-size: 18px;
  text-align: center;
  margin-top: 30px;
  color: #fff;
}

.container {
  width: 100%;
}

.navis {
  height: 65px;
  padding: 10px;
}

.navi-list {
  display: flex;
  justify-content: center;
}

ul, li {
  list-style: none;
}

li.fas {
  font-size: 15px;
  color: #333;
  cursor: pointer;
}

.navi-link {
  color: #333;
  font-weight: bold;
  font-size: 25px;
  padding-right: 25px;
  padding-left: 10px;
  list-style: none;
}

/* -------------- profile ----------------- */

.section {
  text-align: center;
  color: #444;
  width: 100%;
  margin: 0 auto;
}

.section-title {
  padding-top: 70px;
  font-size: 40px;
  font-weight: bold;
  padding-left: 20px;
  margin-bottom: 20px;
}

.profile-contents {

}
.profile-image{
  width: 200px;
  height: 200px;
  background-image: url('/images/profile-image.jpg');
  background-size: cover;
  Border-radius:50%;
  margin: 0 auto;
}
.text{
  width: 100%;
  margin-top: 20px;
}
/* -------------- works ----------------- */

.works-images {
  padding-top: 30px;
}

.app-title{
  font-size: 15px;
  font-weight: bold;
}
.app-desc{
  font-size: 10px;
  text-align: left;
  padding-left: 20px;

}
.app-desc-end {
  margin-bottom:35px;
}





.works-title {
  font-size: 30px;
  font-weight: bold;
  margin-top: 30px;
}

.works-image1{
  background-image: url('/images/works-image2.jpg');
  background-size: cover;

}
.works-image2{
  background-image: url('/images/works-frema.jpg');
  background-size: cover;


}
.works-image3{
  background-image: url('/images/works3-chatspace.png');
  background-size: cover;
}





/* -------------- contact ----------------- */

.contact {
  height: 400px;
}

.section-desc {
  margin-top: 30px;
  margin-bottom: 20px;
}
.fa-twitter{
  font-size: 50px;
  text-decoration: none;
  color: rgb(58, 158, 185);
  margin: 20px;
}

/* -------------- footer ----------------- */

.footer {
  width: 100%;
  height: 140px;
  background-color: #212529;
}
.footer__navi-list {
  display: flex;
  justify-content: center;
}
.footer__navi-link{
  padding: 0 20px;
  padding-top: 30px;
  text-decoration: none;
}
.footer__link {
  font-size: 12px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}
.copy-rihgt {
  font-size: 12px;
  padding-top: 60px;
  text-align: center;
  color: #8c8c8c;
}

/* -------------- for swiper ----------------- */

.swiper-container{
  text-align: center;
}
.swiper-container .swiper-slide img{
  max-width: 280px;
  height: 180px;
}
.prettyprint{
  border: none;
  background: #fafafa;
  color: #697d86;
}


